<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del carrito</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f4f4f4;
            padding: 20px;
            margin: 0;
        }

        h1 {
            text-align: center;
        }

        h3 {
            color: #333;
        }

        p {
            color: #777;
        }

        div {
            background: #fff;
            padding: 20px;
            margin: 20px 0;
        }

        form {
            display: inline;
        }

        button {
            background: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        a {
            display: block;
            width: 200px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            margin: 10px auto;
        }

        a:hover {
            background-color: #45a049;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Detalle del carrito</h1>
    {{#each productos}}
    <div>
        {{#if this.title}}
        <h3>Nombre del producto: {{this.title}}</h3>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Precio del producto: {{this.price}}</p>
        <p>
            <form action="/api/carts/delete/{{@root.id}}/products/{{this._id}}" method="post">
                <button type="submit">Eliminar</button>
            </form>
        </p>
        {{/if}}
    </div>
    {{/each}}
    <h2>Precio Total: {{totalPrice}}</h2>
    <a href="/products">Volver a lista de productos</a>
    <a href="/compraExitosa/{{id}}">Finalizar Compra</a>
</body>

</html>
